---
import Layout from '../../components/Layout.astro'
---
<Layout pageTitle={'Piramide'}>
  <h1 class="font-bold text-white text-center pb-5 text-3xl">Crea tu piramide de números</h1>
  <p class="text-gray-400 text-center max-w-3xl pb-1 m-auto text-sm">La pirámide de números es un sistema de combinación de números posibles a caer donde ingresas el último resultado de la lotería que desea jugar seguidamente del dia, mes y año que del día que juega.</p>
  <section class="flex justify-center gap-3 px-4">
    <div class="flex-col">
      <label class="text-white flex py-2 justify-center text-lg font-bold" for="inputNumber">Inserte sus números:</label>
      <input
        type="number"
        id="inputNumber"
        placeholder="501201082023"
        aria-required="true"
        pattern="[0-9]+"
        class="py-2 px-8 rounded-2xl border-transparent focus:border-purple-500 text-lg">
    </div>
  </section>
  <section class="m-auto rounded-2xl min-h-[100px] max-w-md mt-5 bg-gray-900/80 border border-purple-500/80 hover:border-purple-500 transition-colors px-4 text-right">
    <div
      id="result"
      class="text-white flex-col justify-center px-14 py-5 text-lg tracking-widest">
    </div>
  </section>
</Layout>
<style>
  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
  <script>
    const Button = document.getElementById('btn')
    inputNumber.addEventListener('keyup', ()=> (
    processNumber()
    ))
    function processNumber() {
    const inputNumber = document.getElementById('inputNumber').value;
    let strNum = inputNumber.toString();
    const resultDiv = document.getElementById('result');
      resultDiv.innerHTML = ''; // Limpiar resultados previos

    // Insertar el número original en el div de resultados
    const originalNumberSpan = document.createElement('span');
    originalNumberSpan.innerText = strNum;
    resultDiv.appendChild(originalNumberSpan);
    resultDiv.appendChild(document.createElement('br'));

    while (strNum.length > 1) {
      let result = '';
      for (let i = 0; i < strNum.length - 1; i++) {
        const digit1 = parseInt(strNum[i]);
        const digit2 = parseInt(strNum[i + 1]);
        const sum = digit1 + digit2;
        result += (sum >= 10 ? sum % 10 : sum).toString();
      }

      // Insertar la fila actual en el div de resultados
      const rowSpan = document.createElement('span');
      rowSpan.innerText = result;
      resultDiv.appendChild(rowSpan);
      resultDiv.appendChild(document.createElement('br'));

      strNum = result;
  }
}
  </script>
