---
import Layout from "../components/Layout.astro";
import Header from "../components/Header/Header.astro";
---

<Layout pageTitle={'Políticas de privacidad'}>
  <h1>Políticas de privacidad</h1>
  <p></p>
</Layout>