---
import Layout from "../components/Layout.astro";
import Header from "../components/Header/Header.astro";
import CardTerminos from "../components/cardTerminos.astro";
import ButtonAtras from "../components/buttonAtras.astro";
---

<Layout pageTitle={'Políticas de privacidad'}>
  <section class="text-white w-3/4 m-auto">
    <ButtonAtras/>
    <h1 class="font-bold">Políticas de privacidad</h1>
    <p>En este sitio web, la privacidad de nuestros usuarios es muy importante para nosotros. En esta política de privacidad se describe cómo recopilamos, usamos y protegemos la información personal de nuestros usuarios.</p>
    <CardTerminos title={'Información que recopilamos'} body={'Secos en línea no recopila información personal de ningún tipo como puede ser: teléfonos, nombres o dirección. Toda información que recopilamos es anónima gracias a la herramienta de google Analytics y Hotjar, herramientas que recopilan clicks, navegación de nuestros usuarios dentro de la misma página y como se comportan o usan la página.'}/>
    <CardTerminos title={'Uso de la información'} body={'Utilizamos la información recopilada por google analytics y Hotjar para mejorar la experiencia de los usuarios en nuestro sitio web y toda esta información es anónima. Toda información que se muestra en el sitio web con respecto a los resultados de la lotería es completamente gratuita y no se va a necesitar pagar o suscribir a ningún plan para poder ver información pública.'}/>
    <CardTerminos title={'Divulgación de información'} body={'No vendemos, intercambiamos ni transferimos información personal de nuestros usuarios a terceros, ya que Secos en línea no recopila datos personales de los usuarios que visitan o hacen uso de nuestro servicio.'}/>
    <CardTerminos title={'Cookies'} body={'Este sitio web por el momento no utiliza cookies suministradas por el dueño de la página, en caso de usar cookies en la web, será suministrada por nuestro proovedor de publicidad como lo es google adsense.'}/>
    <CardTerminos title={'Seguridad'} body={'Tomamos medidas de seguridad para que nuestro sitio web no sean afectados por código o inyección de código malicioso, todos nuestros servicios que provengan de terceros van a ser sumamente revisados y seleccionados de la mejor fuente.'}/>
    <CardTerminos title={'Cambios en la política de privacidad'} body={'Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Si realizamos cambios significativos, se lo notificaremos a nuestros usuarios mediante un aviso en nuestro sitio web.'}/>
  </section>
</Layout>