---
import Layout from "../components/Layout.astro";
import ButtonAtras from "../components/buttonAtras.astro";
---

<Layout pageTitle="Sobre nosotros">
 <ButtonAtras/>
 <section class="text-white w-3/4 m-auto">
  <h1 class="font-bold text-3xl py-2 border-b border-purple-600">Sobre nosotros</h1>
  <p class="inline-block py-3">Secos en línea es una web que tiene como objetivo preservar, centralizar la información de manera gratuita, sencilla y fácil de usar. Detrás de ella se encuentra una persona que representa, desarrolla y hace el mantenimiento de la misma. Para ponerse en contácto puede enviar un correo a la siguiente dirección.</p><br><span class="font-bold">Contácto</span> <address><p>soporte.secosenlinea@gmail.com</p></address><br><p class="font-bold">Contácto del desarrollador</p><address>carlosandres.segurac@gmail.com</address><a class="underline hover:text-colorPrimary" href="https://www.casvaru.com" target="_blank" rel="noopener noreferrer">Portafolio web</a>
 </section>
</Layout>