---
import Layout from "../components/Layout.astro";
import ButtonAtras from "../components/buttonAtras.astro";
---

<Layout pageTitle="Sobre nosotros">
 <ButtonAtras/>
 <section class="text-white w-3/4 m-auto">
  <h1 class="font-bold text-3xl m-5">Sobre nosotros</h1>
  <p class="inline-block">Secos en línea es una web que tiene como objetivo preservar, centralizar la información de manera gratuita, sencilla y fácil de usar. Detrás de ella se encuentra una persona que representa, desarrolla y hace el mantenimiento de la misma. Para ponerse en contácto puede enviar un correo a la siguiente dirección.</p> <address><p>soporte.secosenlinea@gmail.com</p></address>
 </section>
</Layout>