---
import Layout from "../components/Layout.astro";
import Header from "../components/Header/Header.astro";
import CardTerminos from "../components/cardTerminos.astro";
import ButtonAtras from "../components/buttonAtras.astro";
---

<Layout pageTitle={"Términos de uso"}>
  <section class="text-white w-3/4 m-auto">
    <ButtonAtras/>
    <h1 class="font-bold">Términos de uso</h1>
    <p>
      Al utilizar este sitio web, aceptas los términos y condiciones
      establecidos en este documento.
    </p>
    <CardTerminos title={'1. Propiedad intelectual'} body={'Las imágenes de los resultados de las loterías publicadas en este sitio web son propiedad de la respectiva lotería y están protegidas por derechos de autor. Este sitio web no reclama la propiedad de estas imágenes, solo las centraliza para su uso y consulta de los premios y secos de la lotería. Los anuncios publicados en este sitio web son propiedad de los respectivos anunciantes en Adsense y están protegidos por derechos de autor, Secosenlínea.com toma como propiedad únicamente el código fuente, banners, gráficos e imágenes creadas por Secosenlinea.com.'} />
    <CardTerminos title={'2. Uso del sitio web'} body={'Este sitio web se proporciona como un servicio gratuito para los usuarios. Al utilizar la web, aceptas que no utilizarás el sitio de ninguna manera que infrinja los derechos de propiedad intelectual de terceros o viole cualquier ley o regulación aplicable. El uso de este sitio web no otorga ningún derecho de propiedad intelectual sobre las imágenes o anuncios publicados en el sitio.'}/>
    <CardTerminos title={'3. Monetización por anuncios'} body={'Este sitio web se financia a través de la monetización por anuncios de Adsense. Al utilizar este sitio web, aceptas que se mostrarán anuncios publicitarios durante la navegación. Este sitio web no se hace responsable del contenido de los anuncios publicados.'}/>
    <CardTerminos title={'4. Cambios en los términos de uso'} body={'Este sitio web se reserva el derecho de modificar estos términos de uso en cualquier momento. Si realizamos cambios significativos, se lo notificaremos a nuestros usuarios mediante un aviso en nuestro sitio web. '}/>
    <CardTerminos title={'5. Exclusión de garantías'} body={'Este sitio web no garantiza que el sitio estará libre de errores o interrupciones, o que el sitio web o el servidor que lo aloja estén libres de virus u otros componentes dañinos.'}/>
    <CardTerminos title={'6. Limitación de responsabilidad'} body={'Este sitio web no será responsable de ningún daño directo, indirecto, incidental, especial o consecuente que surja del uso o la imposibilidad de uso del sitio web, incluyendo, sin limitación, daños por pérdida de beneficios, interrupción de negocios, pérdida de información o cualquier otro tipo de pérdida financiera.'}/>
    <CardTerminos title={'7. Google Analytics'} body={'Este sitio web utiliza Google Analytics para analizar y mejorar el rendimiento del sitio web. Google Analytics es una herramienta de análisis web que utiliza cookies para recopilar información anónima del usuario, como el comportamiento de navegación y la ubicación geográfica. Esta información se utiliza para mejorar la experiencia del usuario y la funcionalidad del sitio web. Este sitio web no recopila ni procesa datos personales de ningún tipo.'}/>
    <section class="py-5">
      <h3 class="font-bold">Derechos de las imágenes, resultados y premios a:</h3>
      <ul>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://www.loteriadecundinamarca.com.co/">Lotería de Cundinamarca</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriadeltolima.com/">Lotería del Tolima</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://lotecruz.org.co/">Lotería de la Cruz Roja</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://www.loteriadelhuila.com/">Lotería del Huila</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://web.loteriadelmeta.gov.co/">Lotería del Meta</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriademanizales.com/">Lotería de Manizales</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://www.loteriadelvalle.com/">Lotería del Valle</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriadebogota.com/">Lotería de Bogotá</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriaquindio.com.co/">Lotería del Quindio</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriademedellin.com.co/">Lotería de Medellín</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriadelrisaralda.com/">Lotería del Risaralda</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://www.loteriasantander.gov.co/">Lotería de Santander</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://loteriadeboyaca.gov.co/">Lotería de Boyacá</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://www.loteriadelcauca.gov.co/">Lotería del Cauca</a></li>
        <li class="mx-5"><a target="_blank" class="hover:text-purple-500 hover:underline" href="https://extradecolombia.com.co/">Lotería Extra de Colombia</a></li>
      </ul>
    </section>
  </section>
</Layout>
