---
import Layout from "../../components/Layout.astro";
import CardLoteryIndex from "../../components/CardLotery/cardLoteryIndex.astro";
import Welcome from "../../components/Welcome.astro";
import ButtonPrimary from "../../components/buttonPrimary.astro";
import ButtonSecondary from "../../components/buttonSecondary.astro";
import CardModal from "../../components/cardModal.astro";
---

<Layout pageTitle={'Extra de Colombia'}>
  <Welcome/>
  <div class="min-w-full flex justify-center gap-3 py-4 bg-slate-500/10 rounded-2xl">
    <ButtonSecondary titleButton={'Loterías diarias'} linkButton={'.'} />
    <ButtonPrimary titleButton={'Loterías extras'} linkButton={'extras'} />
  </div>
  <CardLoteryIndex titleLotery={'Extra de Colombia'} subRouting={'extras/'} nameLotery={'extracolombia'} />
  <CardLoteryIndex titleLotery={'Gran sorteo dorado'} subRouting={'extras/'} nameLotery={'extradorado'} />
</Layout>