---
import NavLi from "./NavLi.astro";
---

<header class="min-w-full h-16 fixed z-10 bg-colorMenu transition-all top-0 left-0 hover:bg-opacity-70 lg:min-h-full lg:min-w-0 lg:w-16">
  <nav>
    <!-- <ul class="flex flex-col gap-1">
      <NavLi loteryName={'Cundinamarca'}></NavLi>
      <NavLi loteryName={'Tolima'}></NavLi>
      <NavLi loteryName={'Cruz Roja'}></NavLi>
      <NavLi loteryName={'Huila'}></NavLi>
      <NavLi loteryName={'Meta'}></NavLi>
      <NavLi loteryName={'Manizales'}></NavLi>
      <NavLi loteryName={'Valle'}></NavLi>
      <NavLi loteryName={'Bogotá'}></NavLi>
      <NavLi loteryName={'Quindio'}></NavLi>
      <NavLi loteryName={'Medellín'}></NavLi>
      <NavLi loteryName={'Risaraldas'}></NavLi>
      <NavLi loteryName={'Santander'}></NavLi>
      <NavLi loteryName={'Boyacá'}></NavLi>
      <NavLi loteryName={'Cauca'}></NavLi>
    </ul> -->
  </nav>
</header>