---
import NavLi from "./NavLi.astro";
---

<header class="h-16 min-w-full fixed z-20 bg-colorMenu transition-all top-0 left-0 hover:w-52 overflow-hidden ease-in duration-200 hover:bg-opacity-50 backdrop-blur-sm lg:min-h-full lg:min-w-0 lg:w-16">
  <nav>
    <ul class="flex flex-col gap-1">
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Cundinamarca'} loteryLink={'cundinamarca'} imgName={'cundi'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Tolima'} loteryLink={'tolima'} imgName={'toli'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Cruz Roja'} loteryLink={'cruzroja'} imgName={'cruz'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Huila'} loteryLink={'huila'} imgName={'huila'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Meta'} loteryLink={'meta'} imgName={'meta'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Manizales'} loteryLink={'manizales'} imgName={'mani'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Valle'} loteryLink={'valle'} imgName={'valle'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Bogotá'} loteryLink={'bogota'} imgName={'bogota'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Quindio'} loteryLink={'quindio'} imgName={'quindio'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Medellín'} loteryLink={'medellin'} imgName={'medellin'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Risaralda'} loteryLink={'risaralda'} imgName={'risaralda'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Santander'} loteryLink={'santander'} imgName={'santander'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Boyacá'} loteryLink={'boyaca'} imgName={'boyaca'} />
      <NavLi className="opacity-0 lg:opacity-100" loteryName={'Cauca'} loteryLink={'cauca'} imgName={'cauca'} />
    </ul>
  </nav>
</header>