---
import NavLi from "./NavLi.astro";
import MenuMobile from "./MenuMobile";
---

<header class="h-14 min-w-full fixed z-20 bg-colorMenu transition-all top-0 left-0 hover:w-52 ease-in duration-200 hover:bg-opacity-50 backdrop-blur-sm lg:min-h-full lg:min-w-0 lg:w-16 lg:overflow-hidden">
  <div class="lg:hidden">
    <MenuMobile client:load>
  </div>
    <nav class="hidden lg:block">
      <ul class="flex-col gap-1 lg:flex bg-colorMenu lg:bg-transparent">
        <NavLi className="" loteryName={'Cundinamarca'} loteryLink={'cundinamarca'} imgName={'cundi'} />
        <NavLi className="" loteryName={'Tolima'} loteryLink={'tolima'} imgName={'toli'} />
        <NavLi className="" loteryName={'Cruz Roja'} loteryLink={'cruzroja'} imgName={'cruz'} />
        <NavLi className="" loteryName={'Huila'} loteryLink={'huila'} imgName={'huila'} />
        <NavLi className="" loteryName={'Meta'} loteryLink={'meta'} imgName={'meta'} />
        <NavLi className="" loteryName={'Manizales'} loteryLink={'manizales'} imgName={'mani'} />
        <NavLi className="" loteryName={'Valle'} loteryLink={'valle'} imgName={'valle'} />
        <NavLi className="" loteryName={'Bogotá'} loteryLink={'bogota'} imgName={'bogota'} />
        <NavLi className="" loteryName={'Quindio'} loteryLink={'quindio'} imgName={'quindio'} />
        <NavLi className="" loteryName={'Medellín'} loteryLink={'medellin'} imgName={'medellin'} />
        <NavLi className="" loteryName={'Risaralda'} loteryLink={'risaralda'} imgName={'risaralda'} />
        <NavLi className="" loteryName={'Santander'} loteryLink={'santander'} imgName={'santander'} />
        <NavLi className="" loteryName={'Boyacá'} loteryLink={'boyaca'} imgName={'boyaca'} />
        <NavLi className="" loteryName={'Cauca'} loteryLink={'cauca'} imgName={'cauca'} />
      </ul>
    </nav>
  </MenuMobile>
</header>