---
interface Props{
  titleButton: String
  linkButton: String
}

const {titleButton = 'Botón', linkButton} = Astro.props
---
<a href={linkButton} class="px-8 py-2 text-center bg-colorPrimary rounded-2xl text-white  transition-all hover:shadow-purple-300/20 shadow-lg">{titleButton}</a>