---
---

<section class="fixed w-full lg:h-9 bg-slate-700 bottom-0 left-0 z-10 text-white text-center lg:leading-9">
  <p class="px-3">Al usar nuestro servicio aceptas los <a class="hover:text-purple-500 underline" href="terminosuso">Términos de uso</a> y <a class="hover:text-purple-500 underline" href="politicasprivacidad">Políticas de privacidad</a></p>
</section>