---
import ButtonPoliticasPrivacidad from "./buttonPoliticasPrivacidad.astro";
---
<footer class="text-center mt-20 mb-10 text-white/50">
  <ButtonPoliticasPrivacidad title={'Términos de uso'} titleURL={'terminosuso'}/>
  <ButtonPoliticasPrivacidad title={'Políticas de privacidad'} titleURL={'politicasprivacidad'}/>
  <h3 class="inline">soporte.secosenlinea@gmail.com</h3>
</footer>