---
import Footer from './Footer.astro';

interface Props{
  pageTitle:String
}
const {pageTitle} = Astro.props
import Header from './Header/Header.astro';
---
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Secos en Línea | {pageTitle}</title>
		<meta name="description" content="Encuentra en un solo sitio las imágenes de los secos de todas las loterías de Colombia y sus premios adicionales desde el año 2023 hasta el día de hoy.">
	</head>
	<body class="bg-bgColor">
    <Header/>
		<slot/>
		<script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1430916407444614"
     crossorigin="anonymous"></script>
		<Footer/>
	</body>
</html>