---
---
<section class="mx-5 text-white my-5 text-center lg:text-left lg:mx-0">
  <p>Encuentra en un solo sitio las imágenes con los resultados y secos de Boyacá y loterías extras de Colombia.</p>
</section>