<section class="text-white my-3 mt-16 text-center mx-3 lg:text-left lg:ml-24 lg:mt-5">
  <h1 class="text-4xl font-bold my-6 inline-block">Secos en Línea</h1><span>.com</span>
  <p>Encuentra en un solo sitio las imágenes de los últimos secos de las loterías de Colombia.</p>
</section>