---
---
<section class="text-white my-5 text-center lg:text-left">
  <h1 class="text-4xl font-bold inline-block lg:hidden">Secos en Línea</h1><span class="lg:hidden">.com</span>
  <p>Encuentra en un solo sitio las imágenes de los últimos resultados y secos de las loterías de Colombia del último año.</p>
</section>