---
import ButtonPoliticasPrivacidad from "./buttonPoliticasPrivacidad.astro";
---
<section class="text-white my-3 text-center lg:text-left">
  <h1 class="text-4xl font-bold my-6 inline-block lg:hidden">Secos en Línea</h1><span class="lg:hidden">.com</span>
  <p>Encuentra en un solo sitio las imágenes de los últimos secos de las loterías de Colombia.</p>
</section>