---
import ButtonPoliticasPrivacidad from "./buttonPoliticasPrivacidad.astro";
---
<section class="text-white my-3 text-center mx-3 lg:text-left">
  <h1 class="text-4xl font-bold my-6 inline-block">Secos en Línea</h1><span>.com</span>
  <p>Encuentra en un solo sitio las imágenes de los últimos secos de las loterías de Colombia.</p>
  <ButtonPoliticasPrivacidad title={'Términos de uso'} titleURL={'terminosuso'}/>
</section>