---
interface Props {
  titleLotery: String;
  nameLotery: String;
  loading: String;
  subRouting: String;
  verMas?: Boolean
}
const { titleLotery, nameLotery, subRouting = "", verMas = true } = Astro.props;
---

<section>
  <div class="border-b-colorPrimary border-b-4 py-2">
    <h2 class="text-[26px] font-bold text-white">{titleLotery}</h2>
  </div>
  <section
    class="flex gap-2 py-5 snap-x w-full lg:h-[400px] overflow-x-auto overflow-y-auto"
  >
    <slot/>
  </section>
  {verMas
  ?
  <div class="flex justify-center mb-8">
    <a
      href=`./${subRouting}${nameLotery}`
      class="bg-purple-500/30 text-white px-10 py-2 rounded-2xl hover:bg-purple-500 transition-all shadow-lg hover:shadow-purple-300/20"
      >Ver más resultados →</a>
  </div>
  :
  null
  }
</section>
